@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
}

.qr-layout {
  max-width: 400px;
  height: 400px;
}

.home-table {
  width: 600px;
}

@media screen and (max-width: 425px) {
  .qr-layout {
    width: 350px;
    height: fit-content;
  }

  .home-table {
    width: 100%;
    max-width: 90vw;
  }
}

@media screen and (max-width: 375px) {
  .qr-layout {
    width: 275px;
  }
}
