@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
}

@keyframes typingAnimation {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}

.typing-indicator {
  animation: typingAnimation 1.5s infinite; /* Анимация будет повторяться бесконечно с длительностью 1.5 секунды */
}

.custom-hljs {
  background-color: #fff !important;
  padding: 0 !important;
}
