@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

@keyframes typingAnimation {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}

.typing-indicator {
  animation: typingAnimation 1.5s infinite; /* Анимация будет повторяться бесконечно с длительностью 1.5 секунды */
}

.custom-hljs code {
  background-color: #fff !important;
  height: 100%;
  padding: 0 !important;
}

.custom-hljs-user code {
  background-color: transparent;
  height: 100%;
  color: white !important;
  padding: 0 !important;
}

.custom-hljs-user span {
  color: white !important;
}

/* Logo animation */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotateAndFadeIn {
  0% {
    opacity: 0;
    transform: rotate(-45deg);
  }
  50% {
    opacity: 0.5;
    transform: rotate(45deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

.fade-in-down {
  animation: fadeInDown 1s ease-out forwards;
}

.fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}

.rotate-and-fade-in {
  animation: rotateAndFadeIn 1s ease-out forwards;
}
